In [ ]:
#Program-4
""""
Write a program to demonstrate the working of the decision tree based CART algorithm.
(Play Tennis Dataset)
""""

In [1]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
df=pd.read_csv(r"C:\Users\HPR\Desktop\ML Syllabus\Play Tennis.csv")
value=['Outlook','Temprature','Humidity','Wind']
df

    Day   Outlook Temprature Humidity    Wind Play_Tennis
0    D1     Sunny        Hot     High    Weak          No
1    D2     Sunny        Hot     High  Strong          No
2    D3  Overcast        Hot     High    Weak         Yes
3    D4      Rain       Mild     High    Weak         Yes
4    D5      Rain       Cool   Normal    Weak         Yes
5    D6      Rain       Cool   Normal  Strong          No
6    D7  Overcast       Cool   Normal  Strong         Yes
7    D8     Sunny       Mild     High    Weak          No
8    D9     Sunny       Cool   Normal    Weak         Yes
9   D10      Rain       Mild   Normal    Weak         Yes
10  D11     Sunny       Mild   Normal  Strong         Yes
11  D12  Overcast       Mild     High  Strong         Yes
12  D13  Overcast        Hot   Normal    Weak         Yes
13  D14      Rain       Mild     High  Strong          No

In [3]:
len(df)

14

In [4]:
df.shape  #To see the number of rows and columns in our dataset:

(14, 6)

In [5]:
df.head() #prints first five samples

  Day   Outlook Temprature Humidity    Wind Play_Tennis
0  D1     Sunny        Hot     High    Weak          No
1  D2     Sunny        Hot     High  Strong          No
2  D3  Overcast        Hot     High    Weak         Yes
3  D4      Rain       Mild     High    Weak         Yes
4  D5      Rain       Cool   Normal    Weak         Yes

In [6]:
df.tail() #prints last five samples

    Day   Outlook Temprature Humidity    Wind Play_Tennis
9   D10      Rain       Mild   Normal    Weak         Yes
10  D11     Sunny       Mild   Normal  Strong         Yes
11  D12  Overcast       Mild     High  Strong         Yes
12  D13  Overcast        Hot   Normal    Weak         Yes
13  D14      Rain       Mild     High  Strong          No

In [7]:
df.describe()     #To see statistical details of the dataset:

       Day Outlook Temprature Humidity  Wind Play_Tennis
count   14      14         14       14    14          14
unique  14       3          3        2     2           2
top     D1   Sunny       Mild     High  Weak         Yes
freq     1       5          6        7     8           9

In [8]:
#machine learning algorithms can only learn from numbers (int, float, doubles .. )
#so let us encode it to int
from sklearn import preprocessing
string_to_int= preprocessing.LabelEncoder()                     #encode your data
df=df.apply(string_to_int.fit_transform) #fit and transform it
df

    Day  Outlook  Temprature  Humidity  Wind  Play_Tennis
0     0        2           1         0     1            0
1     6        2           1         0     0            0
2     7        0           1         0     1            1
3     8        1           2         0     1            1
4     9        1           0         1     1            1
5    10        1           0         1     0            0
6    11        0           0         1     0            1
7    12        2           2         0     1            0
8    13        2           0         1     1            1
9     1        1           2         1     1            1
10    2        2           2         1     0            1
11    3        0           2         0     0            1
12    4        0           1         1     1            1
13    5        1           2         0     0            0

In [9]:
#To divide our data into attribute set and Label:
feature_cols = ['Outlook','Temprature','Humidity','Wind']
X = df[feature_cols ]                               #contains the attribute 
y = df.Play_Tennis

In [10]:
#To divide our data into training and test sets:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [11]:
# perform training 
from sklearn.tree import DecisionTreeClassifier                             # import the classifier
classifier =DecisionTreeClassifier(criterion="gini", random_state=100)     # create a classifier object
classifier.fit(X_train, y_train)                                              # fit the classifier with X and Y data

DecisionTreeClassifier(random_state=100)

In [12]:
#Predict the response for test dataset
y_pred= classifier.predict(X_test)

In [13]:
# Model Accuracy, how often is the classifier correct?
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.2

In [14]:
data_p=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
data_p

    Actual  Predicted
1        0          0
11       1          1
12       1          1
6        1          0
13       0          1

In [15]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1 1]
 [1 2]]
              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.67      0.67      0.67         3

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5